<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 style="text-align: center">All Users</h2>
<br>
<div style="width: 30%; margin: auto; text-align: center; padding-top: 20px; border: 1px solid #ccc; padding: 20px;">
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>email</th>
            <th>phone number</th>
            <th>Operations</th>
        </tr>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.surname}">Surname</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.phoneNumber}">phone Number</td>
            <td>
                <a th:href="@{/updateInfo/{id}(id=${user.id})}">
                    <button type="button">Update</button>
                </a>
                <form th:action="@{/deleteUser/{id}(id=${user.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Delete</button>
                </form>
            </td>

        </tr>
        </tbody>


    </table>
    <br>
    <input type="button" value="Add" onclick="window.location.href = 'addNewUser'"/>
</div>
</body>
</html>